{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <div class="row">
        <div class="col-md-12" align="center">            
            <bigtitle>常見問題 - 小隊員篇</bigtitle>
            <hr align="center" width="30%" style="background-color:#082567;height:0.5pt">
        </div>
    </div>
    
    <!--1-->
	<div class="row">
	    <div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
		    <faq_question>Q1.參加營隊需要對於經濟學的先備知識嗎？</faq_question>
	    </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" valign="center" align="center">
            <br />
            <faq_content>不用喔！我們歡迎對經濟學有興趣的人來參加，經濟學可以是一個很艱澀難懂的學科，充滿很複雜的數理推導與計算，但是在此次營隊裡，我們希望讓大家見識到經濟學平易近人的一面，看到經濟學是如何用在生活中的每個角落，進而啟發大家對於經濟學的興趣與想像。所以完全不用擔心不懂經濟學會跟不上噢！這邊也提供書單讓有興趣的學員可以在營前先認識經濟學！<br><br></faq_content>
        </div>
    </div>

    <!--2-->
    <div class="row">  
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
			<faq_question>Q2.篩選錄取的標準為何？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
		<div class="col-md-10 justify-content-right" valign="center" align="center">
            <br>
			<faq_content>依序為<br></faq_content>
			<faq_content>1.報名資訊完整者<br></faq_content>
			<faq_content>2.報名動機及熱情較高者<br></faq_content>
			<faq_content>3.總共招收120人<br></faq_content>
			<br>
		</div>
    </div>

    <!--3-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
			<faq_question>Q3.晚上一定要住宿嗎？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>是，我們需要學員全程參與，也希望大家可以在這裡體會不一樣的團體生活。<br><br></faq_content>
        </div>
    </div>

    <!--4-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
            <faq_question>Q4.我臨時有事不能參加，可以讓朋友來頂替我嗎？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br />
            <faq_content>不可以。因為每個人都是經篩選才有資格參加營隊的，若有事不克參加，請盡速通知我們，我們將把名額讓給候補的學員。若發現未告知而冒名參加者，一律退營處理。<br><br></faq_content>
        </div>
    </div>

    <!--5-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
            <faq_question>Q5.我能不能跟我的朋友同一個小隊？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>我們會在維持男女比的情況下進行隨機分隊，並盡量讓小隊學員來自不同縣市，故不會出現刻意將某些學員放在同小隊或拆散，一切純屬隨機。<br><br></faq_content>
        </div>
    </div>

    <!--6-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
            <faq_question>Q6.如果遇到天災會取消或是延後營隊時間嗎？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>如果營期開始前已遇不可抗力之天災，以致於營隊無法順利舉行，我們將會視情況取消營隊並且<span style="color: red">扣除營隊籌劃必要支出，將剩餘金額辦理退費</span>，屆時會請已繳費的學員填寫退款表單進行退費。<br>而若是在營期間突發天災，則我們會視情況決策營隊是否繼續舉行，若不繼續舉行，會將費用清算並退回，對於因天災無法回家之學員，我們也會盡保護之責任，讓其待至營期結束或交通恢復止。<br><br></faq_content>
        </div>
    </div>

    <!--7-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
            <faq_question>Q7.有沒有報名優惠呢？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>一般生無報名費的優惠，但我們有為家境清寒之學生提供勵學名額，費用全免，讓清寒生也有機會參加暑期營隊。<br><br></faq_content>
        </div>
    </div>

    <!--8-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
            <faq_question>Q8.我不是台北人，有什麼方法可以到臺大社會科學院嗎？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>大家可以搭乘台鐵、高鐵或客運抵達台北車站，再乘坐捷運紅線至大安站，再轉乘文湖線至科技大樓站，我們將派人至科技大樓將大家接至社科院。<br>東部的學員若搭乘噶瑪蘭客運，也可以直接在科技大樓站下車噢！<br><br></faq_content>
        </div>
    </div>
    
    <!--9-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
            <faq_question>Q9.我還有其他問題怎麼辦？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>歡迎寄信至<a href="mailto:2020ntueconcamp@gmail.com" style="color:red;font-size:13pt;font-family:Cambria;text-decoration:underline">2020ntueconcamp@gmail.com</a>或臉書私訊台大經濟營粉專，若問題較多請以條列式寫出來，我們會盡快回復。<br><br></faq_content>            
        </div>
    </div>
    
    <!--10-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
            <faq_question>Q10.晚上我有朋友（親屬）要來找我出去（逛街）可以嗎？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>不行喔！我們營隊需要大家全程的參與，不能說走就走，但緊急事件得填寫離營申請書，聯絡家長後，經總副召蓋章，方可離營。<br><br></faq_content>
        </div>
    </div>

    <!--11-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
            <faq_question>Q11.如何確定我已經報名成功了？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>報名成功後，我們將會寄信至你的電子郵件，如有收到信即為報名成功喔！若無收到郵件，可寄信給我們確認。<br><br></faq_content>
        </div>
    </div>
    
    <!--12-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
            <faq_question>Q12.報名表單的自傳（動機）應該要打什麼比較容易錄取呢？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>希望大家可以填寫對營隊、經濟系的期待，對於參加營隊、面對團體生活的態度，個性上的優缺點（最好優缺點都至少各提一項，增加我們對你們的認識），可以寫的豐富一點，但切勿寫流水帳，篇幅控制在500字以內為佳。<br><br></faq_content>
        </div>
    </div>

    <!--13-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
            <faq_question>Q13.會有營服嗎？要不要洗衣服？應該帶幾套衣服比較好？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>每位學員都會有一件營服在最後一天會穿。而我們不會有玩水相關行程需要學員再額外備一套衣物，所以基本四套換洗衣物即可，其餘請學員評估自身需求來增加攜帶（不建議大家洗衣服）。<br><br></faq_content>
        </div>
    </div>
    
    <hr />
    <br />
    <div class="row">
        <div class="col-md-12" align="center">            
            <bigtitle>常見問題 - 家長篇</bigtitle>
            <hr align="center" width="30%" style="background-color:#082567;height:1pt">
        </div>
    </div>
    
    <!--1-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
            <faq_question style="color:black">Q1.晚上住在哪裡？安全嗎？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>我們將會住在<a href="http://www.funinn.com.tw/" style="font-family:微軟正黑體;color:red;text-decoration:underline">瘋台北青旅</a>，並且晚上有門禁管理和保全留守，安全部分不用擔心。<br><br></faq_content>
        </div>
    </div>

    <!--2-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
            <faq_question>Q2.每天的飲食是否衛生？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>我們會有專門組別處理飲食，會顧慮到飲食均衡讓大家都吃得安心，衛生的部分也會事先調查，安全無虞才會進行訂購的步驟。<br><br></faq_content>
        </div>
    </div>

    <!--3-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#e3f2fd" align="center">
            <faq_question>Q3.會不會有尺度過大或有危險（碰水）的活動？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>不會，我們所有的活動旨在讓學員可以在過程中學習經濟學，活動內容會需要不斷的發揮想像力跟思考分析能力，絕對不會有不適宜的內容出現。<br><br></faq_content>
        </div>
    </div>

    <!--4-->
    <div class="row">
		<div class="col-md-12 justify-content-left" style="background-color:#F0F8FF" align="center">
            <faq_question>Q4.如果我的小孩比較怕生，是否可以一起參加營隊旁聽？</faq_question>
		</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 justify-content-right" align="center">
            <br>
            <faq_content>不行，我們營隊強調全程參與，且人員有限我們無法暇顧及旁聽學員，所以為了確保營隊品質，我們恕不提供旁聽名額。<br><br></faq_content>
        </div>
    </div>
    <br />
    
    
{% endblock content %}
