<!--footer-->
{% block footer %}
    {% load static %}
    <hr width="100%">
    <div class="container">
        <div class="text-center">
            <p class="copyright"><br>國立臺灣大學經濟學系系學會<br>臺北市大安區羅斯福路四段一號社會科學院<br>Design by Kurt Chiu &amp; Money Chien<br>Copyright © NTU Econ Camp<br />All Rights Reserved</p>
            <a href="mailto:2020ntueconcamp@gmail.com">
                <img src="{% static 'images/icon_email.png'%}" style="width:30px;height:30px" />
            </a>
            <a href="https://www.facebook.com/ntueconcamp/?epa=SEARCH_BOX">
                &ensp;
                <img src="{% static 'images/icon_facebook.png'%}" style="width:30px;height:30px" />
            </a>            
        </div>
    <br />
{% endblock %}